####################################################
# Python Bytecode
####################################################

__pycache__/
*.py[cod]
*$py.class

####################################################
# Virtual Environment
####################################################

venv/
env/
ENV/
.venv/

####################################################
# Environment Variables
####################################################

.env
.env.*

####################################################
# IDE Files
####################################################

.vscode/
.idea/

####################################################
# Jupyter Notebook
####################################################

.ipynb_checkpoints/

####################################################
# Logs
####################################################

*.log

####################################################
# Python Build Files
####################################################

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

####################################################
# Test & Cache
####################################################

.pytest_cache/
.coverage
htmlcov/
.cache/

####################################################
# Operating System Files
####################################################

.DS_Store
Thumbs.db

####################################################
# AWS Key Files (Never Upload)
####################################################

*.pem
*.ppk

####################################################
# Temporary Files
####################################################

*.tmp
*.bak
*.swp
